@import url("./assets/fonts/fonts.css");
@import "tailwindcss";

@theme inline {
  --font-poppins: Poppins, sans-serif;
  --color-mainColor: #5ABD8C;
  --color-descColor: #707070;
}

@layer base {
  body {
    @apply font-poppins text-white;
  }
}

.headerCircleContainer {
  position: relative;
  overflow-x: hidden;
  animation: onLoadAnimationHeader 1s ease-in-out forwards;
}

.headerLoading {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 584px;
  height: 584px;
  background: var(--color-mainColor);
  animation: onLoadAnimation 1s ease-in-out forwards;
}

@keyframes onLoadAnimation {
  0% {
    width: 584px;
    height: 0px;
    top: 0px;
    border-radius: 25%;
  }

  60% {
    width: 484px;
    height: 584px;
    top: -166px;
    border-radius: 100%;
  }

  100% {
    width: 584px;
    height: 584px;
    top: -216px;
    border-radius: 100%;
  }
}

@keyframes onLoadAnimationHeader {
  0% {
    height: 0px;
  }

  60% {
    height: 418px;
  }

  100% {
    height: 368px;
  }
}