@import url("./assets/fonts/fonts.css");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme inline {
  --font-poppins: Poppins, sans-serif;
  --color-mainColor: #5ABD8C;
  --color-descColor: #707070;
}

@layer base {
  body {
    @apply font-poppins text-white bg-[#f2f2f2];
  }
}

.headerCircleContainer {
  position: relative;
  overflow: hidden;
  animation: onLoadAnimationHeader 1s ease-in-out forwards;
}

.headerLoading {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 584px;
  height: 584px;
  background: var(--color-mainColor);
  animation: onLoadAnimation 1s ease-in-out forwards;
}

@keyframes onLoadAnimation {
  0% {
    width: 584px;
    height: 0px;
    top: 0px;
    border-radius: 25%;
  }

  60% {
    width: 484px;
    height: 584px;
    top: -166px;
    border-radius: 100%;
  }

  100% {
    width: 584px;
    height: 584px;
    top: -216px;
    border-radius: 100%;
  }
}

@keyframes onLoadAnimationHeader {
  0% {
    height: 0px;
  }

  60% {
    height: 418px;
  }

  100% {
    height: 368px;
  }
}

.onLoadAnimation {
  animation: onLoadAnimationForAll 1s ease-in-out forwards;
}

@keyframes onLoadAnimationForAll {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* scrollbarni yo‘qotish */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

/* O‘RTADAGI SLIDE */
.carousel-item:has(+ .carousel-item:hover),
.carousel-item:hover,
.carousel-item:hover+.carousel-item {
  scale: 1;
  transform: translateY(0);
}

.header-swiper .swiper-slide {
  transform: scale(0.9) translateY(-10px);
  transition: transform 0.3s ease;
}

.header-swiper .swiper-slide-active {
  transform: scale(1) translateY(10px);
}